<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new food</title>
</head>
<body>
<th:block th:insert="~{/_menu}"></th:block>


<form action="#" th:action="@{/add}" th:object="${addFoodForm}" method="post">
    <p>Food type: <label>
        <select name="foodType">
            <option th:each="foodType : ${T(com.partola.PracticeSpringBootApp.entities.FoodType).values()}"
                    th:value="${foodType}" th:text="${foodType.displayName}"></option>
        </select>
    </label></p>
    <p>Satiety: <input type="text" th:field="*{satiety}" /></p>
    <p>Weight: <input type="text" th:field="*{weight}" /></p>
    <p>Days age: <input type="text" th:field="*{daysAge}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>